.AddBtn:hover {
	transition: 0.2s;
	color: #dcdcdc;
	background-color: #3778e1;
}

.Sentence:hover {
	transition: 0.2s;
	transform: scale(1.03);
}

.FBtn:hover {
	transition: 0.3s;
	background-color: #e8e8e8;
}